/* You can add global styles to this file, and also import other style files */
/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "./styles/global-overrides.scss";


.global{

    background-color: brown;

}


.emulated{
    background-color: forestgreen !important;
}

.card-cancel-button{

    background-color: greenyellow !important;
}*/

mat-slider .mdc-slider__trach--active_fill{
    border-color: blue !important;
}